<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mamamoo.infra.myorder.MyOrderDao">

	<resultMap id="resultMapObj" type="com.mamamoo.infra.myorder.MyOrderDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.morSeq 
			,a.morDate 
			,a.morWarehousingNy 
			,a.morDelNy 
			,a.morRegDt 
			,a.morModDt 
			,a.mbrSeq 
				from 
					myorder a
				where 
					1=1
			 <include refid="selectCommon" /> 
	</select>
	
	<!-- 발주 디테일 리스트 -->
	<select id="myorderdetailList" resultMap="resultMapObj">
			select
				a.motSeq 
				,b.morDate 
				,a.motCompCd 
				,c.pdtName 
				,a.motCount 
				,a.motAmt
				,a.motWarehousingNy 
				,a.motDelNy 
				,a.motRegDt 
				,a.motModDt
				,b.mbrSeq 
					from 
						myorderdetail a
					join
						myorder b
					on 
						a.morSeq = b.morSeq
					join 
						product c
					on 
						a.pdtSeq  = c.pdtSeq 
					where 1=1
			 <if test="shDelNy != null and !shDelNy.equals('')">AND IFNULL(a.motDelNy, 0) = #{shDelNy}</if>
			 <if test="shReceive != null and !shReceive.equals('')">AND IFNULL(a.motWarehousingNy, 0) = #{shReceive}</if>
	         
	         <choose>
	         	<when test="shOptionDate == 1">AND a.morRegDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
	         	<when test="shOptionDate == 2">AND a.morModDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
	         </choose> 
	</select>
	
	<!-- 발주 디테일 상세페이지 -->
	<select  id="myorderdetailitem" resultMap="resultMapObj">
	
	select
	a.motSeq 
	,b.morDate 
	,a.motCompCd 
	,c.pdtName 
	,a.motCount 
	,a.motAmt
	,a.motWarehousingNy 
	,a.motDelNy 
	,a.motRegDt 
	,a.motModDt
	,b.mbrSeq 
		from 
			myorderdetail a
		join
			myorder b
		on 
			a.morSeq = b.morSeq
		join 
			product c
		on 
			a.pdtSeq  = c.pdtSeq 
		where 
			a.motSeq = #{motSeq}
	</select>
	
	<!-- 발주사 이름 -->
	<select  id="clientNameList" resultMap="resultMapObj">
	select 
		mbrSeq,
		mbrClientName,
		mbrClientCd 
			from members
				where 
				 mbrClientCd  = '4';
	</select>
	
	<!-- 발주등록 발주 제품 리스트 -->
	<select id="productList" resultMap="resultMapObj">
	select 
		pdtSeq 
		,pdtName 
		,pdtPrice 
		,mbrSeq
			from 
				product 
			where 1=1
	</select>
	
	<!-- <select id="morCount">
		select
			count(*)
		from
		 	myorder
		 where 
			1=1
		<include refid="selectCommon" /> 
		 	
	</select> -->
	
	<sql id ="selectCommon">
		<if test="shDelNy != null and !shDelNy.equals('')">AND IFNULL(a.morDelNy, 0) = #{shDelNy}</if>
			<if test="shReceive != null and !shReceive.equals('')">AND IFNULL(a.morWarehousingNy, 0) = #{shReceive}</if>
	         
	         <choose>
	         	<when test="shOptionDate == 1">AND a.morRegDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
	         	<when test="shOptionDate == 2">AND a.morModDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
	         </choose> 
	</sql>
</mapper>