<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mamamoo.infra.orders.OrdersDao">

	<resultMap id="resultMapObj" type="com.mamamoo.infra.orders.OrdersDto"></resultMap>

	<sql id="selectCommonOrt">
    	FROM orderdetail a
			join orders b on b.ordSeq = a.ordSeq
			join product c on c.pdtSeq = a.pdtSeq
			left join members d on d.mbrSeq = a.ortCompCd
			left join members e on e.mbrSeq = a.ortShippingCd
        WHERE 1=1
        <if test="shDelNy != null and !shDelNy.equals('')">AND b.ordDelNy = #{shDelNy}</if>
         
        <choose>
         	<when test="shOptionDate == 1">AND ordRegDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        	<when test="shOptionDate == 2">AND ordModDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        	<when test="shOptionDate == 3">AND ordDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        </choose>
         
         <choose>
         	<when test="shOption == 1">AND b.ordSeq = #{shValue}</when>
         	<when test="shOption == 2">AND c.pdtName LIKE CONCAT('%', #{shValue}, '%')</when>
         	<when test="shOption == 3">AND d.mbrClientName LIKE CONCAT('%', #{shValue}, '%')</when>
         	<when test="shOption == 4">AND d.mbrName LIKE CONCAT('%', #{shValue}, '%')</when>
         </choose>
         
	</sql>
	
	<sql id="selectCommon">
    	FROM orders
        WHERE 1=1
        <if test="shDelNy != null and !shDelNy.equals('')">AND ordDelNy = #{shDelNy}</if>
        <if test="shReleasedNy != null and !shReleasedNy.equals('')">AND ordReleasedNy = #{shReleasedNy}</if>
         
        <choose>
         	<when test="shOptionDate == 1">AND ordRegDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        	<when test="shOptionDate == 2">AND ordModDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        	<when test="shOptionDate == 3">AND ordDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        </choose>
         
         <choose>
         	<when test="shOption == 1">AND ordSeq = #{shValue}</when>
         </choose>
         
         <!-- <if test="shOptionGroup != null and !shOptionGroup.equals('')">AND a.cdgSeq = #{shOptionGroup}</if> -->
	</sql>

	<!-- 상세주문리스트 -->
	<select id="selectListOrt" resultMap="resultMapObj">
		select
			a.ortSeq
			,a.ortCount
			,a.ortAmt
			,a.ortReleaseDt 
			,a.ortReleaseNy
			,b.ordSeq
			,b.ordDate
			,b.ordDelNy
			,c.pdtName
			,c.pdtPrice
			,d.mbrClientName
			,d.mbrName
			,e.mbrClientName
			,e.mbrName as xmberName
			<include refid="selectCommonOrt"/>
	</select>
	<!-- 고객사명을 불러오기 위한 리스트 -->
	<select id="clientNameList" resultMap="resultMapObj">
		select 
			mbrSeq
			,mbrClientName
			,mbrClientCd 
		from members
		where 
			mbrClientCd  = '5';
	</select>
	
	<!-- 주문등록을 위한 제품 리스트 -->
	<select id="productList" resultMap="resultMapObj">
		select 
			pdtSeq 
			,pdtName 
			,pdtPrice 
			,mbrSeq
		from product
		where 1=1
	</select>
	
	<!-- 카운팅 -->
    <select id="getCountOrt">
        SELECT COUNT(*)
      <include refid="selectCommonOrt"/>
    </select>
	
	<select id="selectOne" resultMap="resultMapObj">
        SELECT a.ordSeq
     		 , a.ordDate
     		 , a.ordDelNy
     		 , a.ordRegDt
     		 , a.ordModDt
     		 , a.ordReleasedNy
     		 , a.mbrSeq
     		 , b.ortSeq
     		 , b.ortCompCd
     		 , b.ortCount
     		 , b.ortAmt
     		 , b.ortShippingCd
     		 , b.ortReleaseDt
     		 , b.ortReleaseNy
     		 , b.ortDelNy
     		 , b.ortRegDt
     		 , b.ortModDt
     		 , b.ordSeq
     		 , b.pdtSeq
  		  FROM orders a
       		   LEFT JOIN orderdetail b
              		  ON b.ordSeq = a.ordSeq
               join product c
					  ON c.pdtSeq = b.pdtSeq
			left join members d
					  ON d.mbrSeq = b.ortCompCd             		          
         WHERE 1 = 1
           AND a.ordSeq = #{ordSeq}
           <if test="ortSeq != null and !cdcSeq.equals('')">AND b.ortSeq = #{ortSeq}</if>           
	</select>

	<!-- 주문리스트 -->
	<select id="selectList" resultMap="resultMapObj">
		select
			ordSeq
			,ordDate
			,ordDelNy
			,ordRegDt
			,ordModDt
			,ordReleasedNy
			,mbrSeq
			<include refid="selectCommon"/>
	</select>
	
	<!-- 카운팅 -->
    <select id="getCount">
        SELECT COUNT(*)
      <include refid="selectCommon"/>
    </select>
    
	<!-- 주문목록 추가 -->
	<insert id="insertOrd">
		INSERT INTO orders
			( 
			  ordDate
			, ordReleasedNy
			, ordDelNy
			, ordRegDt
			, ordModDt
			, mbrSeq
			)
		VALUES
			(
			  now()
			, 0
			, 0
			, now()
			, now()
			, 10
			)
	</insert>
	
	<!-- 상세주문록록 추가 -->
	<insert id="insertOrt">
		INSERT INTO orderdetail
			( 
			  ortCompCd
			, ortCount
			, ortAmt
			, ortShippingCd
			, ortReleaseDt
			, ortReleaseNy
			, ortDelNy
			, ortRegDt
			, ortModDt
			, ordSeq
			, pdtSeq
			)
		VALUES
			(
			  #{ortCompCd}
			, #{ortCount}
			, #{ortAmt}
			, #{ortShippingCd}
			, #{ortReleaseDt}
			, 0
			, 0
			, now()
			, now()
			, #{ordSeq}
			, #{pdtSeq}
			)
	</insert>
	
	
	
</mapper>