<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mamamoo.infra.orders.OrdersDao">

	<resultMap id="resultMapObj" type="com.mamamoo.infra.orders.OrdersDto"></resultMap>

	<sql id="selectCommon">
    	FROM orderdetail a
			join orders b on b.ordSeq = a.ordSeq
			join product c on c.pdtSeq = a.pdtSeq
			left join members d on d.mbrSeq = a.ortCompCd
        WHERE 1=1
        <if test="shDelNy != null and !shDelNy.equals('')">AND b.ordDelNy = #{shDelNy}</if>
         
        <choose>
         	<when test="shOptionDate == 1">AND ordRegDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        	<when test="shOptionDate == 2">AND ordModDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        </choose>
         
         <choose>
         	<when test="shOption == 1">AND b.ordSeq = #{shValue}</when>
         	<when test="shOption == 2">AND c.pdtName LIKE CONCAT('%', #{shValue}, '%')</when>
         	<when test="shOption == 3">AND d.mbrClientName LIKE CONCAT('%', #{shValue}, '%')</when>
         	<when test="shOption == 4">AND d.mbrName LIKE CONCAT('%', #{shValue}, '%')</when>
         </choose>
         
         <!-- <if test="shOptionGroup != null and !shOptionGroup.equals('')">AND a.cdgSeq = #{shOptionGroup}</if> -->
	</sql>

	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.ortCount
			,a.ortAmt
			,b.ordSeq
			,b.ordDate
			,b.ordReleasedNy
			,b.ordDelNy
			,c.pdtName
			,c.pdtPrice
			,d.mbrClientName
			,d.mbrName
			<include refid="selectCommon"/>
	</select>
	
	<!-- 카운팅 -->
    <select id="getCount">
        SELECT COUNT(*)
      <include refid="selectCommon"/>
    </select>
	
	
	
</mapper>