<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mamamoo.infra.orders.OrdersDao">

	<resultMap id="resultMapObj" type="com.mamamoo.infra.orders.OrdersDto"></resultMap>

	<sql id="selectCommon">
    	FROM orderdetail a
			join orders b on b.ordSeq = a.ordSeq
			join product c on c.pdtSeq = a.pdtSeq
			left join members d on d.mbrSeq = a.ortCompCd
        WHERE 1=1
        <if test="shDelNy != null and !shDelNy.equals('')">AND b.ordDelNy = #{shDelNy}</if>
         
        <choose>
         	<when test="shOptionDate == 1">AND ordRegDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        	<when test="shOptionDate == 2">AND ordModDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        	<when test="shOptionDate == 3">AND ordDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        </choose>
         
         <choose>
         	<when test="shOption == 1">AND b.ordSeq = #{shValue}</when>
         	<when test="shOption == 2">AND c.pdtName LIKE CONCAT('%', #{shValue}, '%')</when>
         	<when test="shOption == 3">AND d.mbrClientName LIKE CONCAT('%', #{shValue}, '%')</when>
         	<when test="shOption == 4">AND d.mbrName LIKE CONCAT('%', #{shValue}, '%')</when>
         </choose>
         
         <!-- <if test="shOptionGroup != null and !shOptionGroup.equals('')">AND a.cdgSeq = #{shOptionGroup}</if> -->
	</sql>

	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.ortCount
			,a.ortAmt
			,b.ordSeq
			,b.ordDate
			,b.ordReleasedNy
			,b.ordDelNy
			,c.pdtName
			,c.pdtPrice
			,d.mbrClientName
			,d.mbrName
			<include refid="selectCommon"/>
	</select>
	
	<!-- 카운팅 -->
    <select id="getCount">
        SELECT COUNT(*)
      <include refid="selectCommon"/>
    </select>
	
	<select id="selectOne" resultMap="resultMapObj">
        SELECT a.ordSeq
     		 , a.ordDate
     		 , a.ordDelNy
     		 , a.ordRegDt
     		 , a.ordModDt
     		 , a.ordReleasedNy
     		 , a.mbrSeq
     		 , b.ortSeq
     		 , b.ortCompCd
     		 , b.ortCount
     		 , b.ortAmt
     		 , b.ortShippingCd
     		 , b.ortReleaseDt
     		 , b.ortReleaseNy
     		 , b.ortDelNy
     		 , b.ortRegDt
     		 , b.ortModDt
     		 , b.ordSeq
     		 , b.pdtSeq
  		  FROM orders a
       		   LEFT JOIN orderdetail b
              		  ON b.ordSeq = a.ordSeq
               join product c
					  ON c.pdtSeq = b.pdtSeq
			left join members d
					  ON d.mbrSeq = b.ortCompCd             		          
         WHERE 1 = 1
           AND a.ordSeq = #{ordSeq}
           <!-- <if test="ortSeq != null and !cdcSeq.equals('')">AND b.ortSeq = #{ortSeq}</if>  -->          
	</select>
	
	<!-- 주문목록 추가 -->
	<insert id="insertOrt">
		INSERT INTO orderdetail
			( 
			  ortCompCd
			, ortCount
			, ortAmt
			, ortShippingCd
			, ortReleaseDt
			, ortReleaseNy
			, ortDelNy
			, ortRegDt
			, ortModDt
			, ordSeq
			, pdtSeq
			)
		VALUES
			(
			  #{ortCompCd}
			, #{ortCount}
			, #{ortAmt}
			, #{ortShippingCd}
			, #{ortReleaseDt}
			, #{ortReleaseNy}
			, 0
			, now()
			, now()
			, #{ordSeq}
			, #{pdtSeq}
			)
	</insert>
	
	<insert id="insertOrd">
		INSERT INTO orders
			( 
			  ordDate
			, ordReleasedNy
			, ordDelNy
			, ordRegDt
			, ordModDt
			, mbrSeq
			)
		VALUES
			(
			  #{ordDate}
			, #{ordReleasedNy}
			, 0
			, now()
			, now()
			, #{mbrSeq}
			)
	</insert>
	
	
</mapper>